In [9]:
import pandas as pd
import numpy as np

In [10]:
iris = pd.read_csv('iris_csv.csv')

In [11]:
iris.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [12]:
iris = pd.read_csv('iris_csv.csv')
a = iris[(iris.sepallength>7)]
a.head()

     sepallength  sepalwidth  petallength  petalwidth           class
102          7.1         3.0          5.9         2.1  Iris-virginica
105          7.6         3.0          6.6         2.1  Iris-virginica
107          7.3         2.9          6.3         1.8  Iris-virginica
109          7.2         3.6          6.1         2.5  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica

In [13]:
b = iris[(iris.sepallength>5) & (iris.petallength>6)]
b.head()

     sepallength  sepalwidth  petallength  petalwidth           class
105          7.6         3.0          6.6         2.1  Iris-virginica
107          7.3         2.9          6.3         1.8  Iris-virginica
109          7.2         3.6          6.1         2.5  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica

In [14]:
c = iris[iris['class']=='Iris-versicolor']
c.head()

    sepallength  sepalwidth  petallength  petalwidth            class
50          7.0         3.2          4.7         1.4  Iris-versicolor
51          6.4         3.2          4.5         1.5  Iris-versicolor
52          6.9         3.1          4.9         1.5  Iris-versicolor
53          5.5         2.3          4.0         1.3  Iris-versicolor
54          6.5         2.8          4.6         1.5  Iris-versicolor

In [15]:
d = iris[iris['class'].isin(['Iris-virginica','Iris-versicolor'])]
d.head()

    sepallength  sepalwidth  petallength  petalwidth            class
50          7.0         3.2          4.7         1.4  Iris-versicolor
51          6.4         3.2          4.5         1.5  Iris-versicolor
52          6.9         3.1          4.9         1.5  Iris-versicolor
53          5.5         2.3          4.0         1.3  Iris-versicolor
54          6.5         2.8          4.6         1.5  Iris-versicolor

In [16]:
df1 = pd.read_csv('iris_csv.csv')
df1.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [17]:
df1.groupby('class')['sepallength'].mean()

class
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: sepallength, dtype: float64

In [18]:
df1.groupby('class')[['sepallength','sepalwidth','petallength','petalwidth']].mean()

                 sepallength  sepalwidth  petallength  petalwidth
class
Iris-setosa            5.006       3.418        1.464       0.244
Iris-versicolor        5.936       2.770        4.260       1.326
Iris-virginica         6.588       2.974        5.552       2.026

In [19]:
a=df1.groupby('class').agg({'sepallength':'mean','sepalwidth':'sum'})
a

                 sepallength  sepalwidth
class
Iris-setosa            5.006       170.9
Iris-versicolor        5.936       138.5
Iris-virginica         6.588       148.7

In [20]:
a.rename(columns={'sepallength':'Avg_sepallength','sepalwidth':'Sum_sepalwidth'})

                 Avg_sepallength  Sum_sepalwidth
class
Iris-setosa                5.006           170.9
Iris-versicolor            5.936           138.5
Iris-virginica             6.588           148.7